{% set zone = properties["zone"] %}
{% set disk_size = properties["disk_size"] %}

resources:
- name: {{ env["name"] }}
  type: compute.v1.disk
  properties:
    zone: {{ zone }}
    description: CloudBook Pro
    sizeGb: {{ disk_size }}
    sourceImage: https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/family/ubuntu-1604-lts
    type: zones/{{ zone }}/diskTypes/pd-ssd
