{% set deployment = env["deployment"] %}
{% set zone = properties["zone"] %}
{% set machine_type = properties["machine_type"] %}
{% set ssh_keys = properties["ssh_keys"]|join("\\n") %}

resources:
- name: {{ env["name"] }}
  type: compute.v1.instance
  properties:
    zone: europe-west1-b
    description: CloudBook Pro
    machineType: zones/{{ zone }}/machineTypes/{{ machine_type }}
    canIpForward: false
    disks:
    - boot: true
      autoDelete: false
      mode: READ_WRITE
      type: PERSISTENT
      source: $(ref.{{ deployment }}-disk.selfLink)
    networkInterfaces:
    - network: $(ref.{{ deployment }}-net.selfLink)
      # Access Config required to give the instance a public IP address
      accessConfigs:
       - name: External NAT
         type: ONE_TO_ONE_NAT
         natIP: $(ref.{{ deployment }}-ip.address)
    serviceAccounts:
      - email: default
        scopes:
         - "https://www.googleapis.com/auth/cloud-platform"
    tags:
      items:
        - cloudbook-pro
    metadata:
      items:
        - key: block-project-ssh-keys
          value: "true"
        - key: ssh-keys
          value: "{{ ssh_keys }}"
    scheduling:
      preemptible: True
